*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 226, 226);
}
.loginForm{
    margin-top: 5rem;  
}
.registerForm{
    margin-top: 2rem;  
}
.error {
    color: #fa0303;
}